/* You can add global styles to this file, and also import other style files */

.float-right {
    float: right;
}

.text-align-center {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.margin-left-sm {
    margin-left: 10px;
}

.margin-left-md {
    margin-left: 20px;
}

.line-height-32 {
    line-height: 32px;
}

.line-height-16 {
    line-height: 16px;
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-12 {
    font-size: 12px;
}

body {
    overflow: hidden;
}

.page-title {
    display: flex;
    justify-content: space-between;
    line-height: 54px;
    height: 54px;
    padding: 0 24px;
    background-color: #fafbfc;
    border-bottom: 1px solid #efe3e5;
    margin-bottom: 10px;
    .title {
        font-size: 18px;
    }
    button {
        margin-top: 11px;
        margin-left: 8px;
    }
}