<form nz-form [formGroup]="validateForm">

    <div class="page-title">
        <span class="title">新建订单</span>
        <div>
            <button nz-button type="submit" (click)="submitForm($event,validateForm.value)" nzType="primary" [nzLoading]="isLoading">保存</button>
            <button nz-button routerLink="/web/main/setting/express">返回</button>
        </div>
    </div>
    <fieldset>
        <legend>基本信息</legend>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>出货日</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>客户ID</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>产品</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>详细信息</legend>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
            <div nz-col [nzSpan]="6">
                <nz-form-item nzFlex>
                    <nz-form-label>aaaa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="placeholder" formControlName="aaa">
                    </nz-form-control>
                </nz-form-item>

            </div>
        </div>
    </fieldset>
</form>